  @page "/create"
  @page "/create/{Id:int}"
  @inject NavigationManager _navigationManager
  @inject IPlayerApi _playerApi
  @inject IJSRuntime _jsRuntime

<div class="vh-100 create-update-background d-flex justify-content-center align-items-center">
    <audio id="player">
        <source id="playerSource" src="" />
    </audio>
    <div class="wrapper">
        <div class="w-100 text-center">
            <a href="/players"><i data-bs-toggle="tooltip" data-bs-placement="top" title="Back To Players" class="fas back-dumbell fa-dumbbell fa-fw fa-5x"></i></a>
        </div>
        <div class="text-center mt-3">
            <DropdownComponent TItem="string" OnSelected="@OnSelected">
                <InitialTip>Select Lifter's Image</InitialTip>
                <ChildContent>
                    <DropdownListItemComponent Item="@imageList[0]"><img style="height: 150px; width: 170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiQLbR-0BGdlPjm1LvGFrkyOQqmYdPXYDqFvhUsrCH39UVYX2gkuVOHAVYTN5VRmWEhdQ&usqp=CAU" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[1]"><img style="height: 150px; width: 170px" src="https://tptspersonaltraining.co.uk/wp-content/uploads/2017/04/fat-guy_1434626904.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[2]"><img style="height: 150px; width: 170px" src="https://download.cnet.com/a/img/resize/66b65de13edbb0b23fca67a05641dd48381145e8/catalog/2020/05/11/29e21c54-bd9b-4f1a-9904-49eb2d3b0eae/imgingest-4480199990197483794.png?auto=webp&fit=crop&width=64" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[3]"><img style="height: 150px; width: 170px" src="https://pbs.twimg.com/profile_images/3398588279/317c62116974f76701b3dd5eef40b50e_400x400.jpeg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[4]"><img style="height: 150px; width: 170px" src="https://memegenerator.net/img/images/300x300/72469385.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[5]"><img style="height: 150px; width: 170px" src="https://live.staticflickr.com/5296/5509611484_8cc58d7ae5_n.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[6]"><img style="height: 150px; width: 170px" src="https://memegenerator.net/img/images/300x300/15050471.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[7]"><img style="height: 150px; width: 170px" src="https://bodyshapr.net/wp-content/uploads/2020/09/image-1-10.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[8]"><img style="height: 150px; width: 170px" src="https://lh4.googleusercontent.com/-qZSKw0wkYKI/VPQmYo6ZCvI/AAAAAAAAAgQ/EO0erxjRXEg/s512/Westerfield_Dena_062307_FR23_F.jpg" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[9]"><img style="height: 150px; width: 170px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX9yLXuwg4u4qfSIvEATo3elqdXFPknAEzAyxtpQ5y_oVCV9iDDUImh4eV-ITPS-vLq6Q&usqp=CAU" /></DropdownListItemComponent>
                    <DropdownListItemComponent Item="@imageList[10]"><img style="height: 150px; width: 170px" src="https://f89ffb9c6e892fd48c3f-d6910317324a577763244ff60556b19d.ssl.cf1.rackcdn.com/02_Cureton_Carmella_091407_FR25_WEB.jpg" /></DropdownListItemComponent>
                </ChildContent>
            </DropdownComponent>
        </div>
        <EditForm Model="Player" OnValidSubmit="HandleCreateUpdate" class="p-3 mt-3">
            <DataAnnotationsValidator />
            <ValidationMessage For="() => Player.Name" />
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <InputText @bind-Value="Player.Name" placeholder="name" />
            </div>
            <ValidationMessage For="() => Player.Gains" />
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-fist-raised"></span>
                <InputNumber @bind-Value="Player.Gains" placeholder="gains" />
            </div>
            <ValidationMessage For="() => Player.Experience" />
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-chart-line"></span>
                <InputNumber @bind-Value="Player.Experience" placeholder="expercience" />
            </div>
            <div class="text-center fs-6 flex-column d-flex w-100">
                <button type="submit" class="btn change-player-btn bg-black border-white primary-color rounded-pill w-100">
                    <i class="fas fa-user-check"></i>
                    @Title
                </button>
                <a href="/players" class="btn cancel-player-btn rounded-pill mt-2 w-100">
                    <i class="fas fa-user-alt-slash"></i>
                    CANCEL
                </a>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [Parameter]
    public int? Id { get; set; }

    List<string> imageList;

    private string Title { get; set; } = "CREATE";

    private PlayerResult Player { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        imageList = new List<string> { "nerd.jpg", "fat1.jpg", "buff.png", "crazymuscle.jpeg", "black.jpg", "black2.jpg", "nerd2.jpg", "Ronnie.jpg", "woman.jpg", "woman2.jpg", "woman3.jpg" };

        if (Id != null)
        {
            Title = "UPDATE";
            var result = await _playerApi.GetAsync(Id.Value);
            Player = result.Data;
            await _jsRuntime.InvokeVoidAsync("PlayAudioFile", "/sounds/questions.mp3");
        }
        else
        {
            await _jsRuntime.InvokeVoidAsync("PlayAudioFile", "/sounds/questions.mp3");
        }

        await base.OnInitializedAsync();
    }

    private async Task HandleCreateUpdate()
    {
        if (Player.Id != null && Title == "UPDATE")
        {
            await _playerApi.Update(Player.Id, Player);
        }
        else
        {
            await _playerApi.Create(Player);
        }

        _navigationManager.NavigateTo("/players");
    }

    private void OnSelected(string selectedImage)
    {
        Player.ImageName = selectedImage;
    }
  }
