@page "/game/{Id:int}"
@inject IGameApi _gameApi
@inject IPlayerApi _playerApi

<a href="/shop" class="btn btn-dark">shop</a>
<button @onclick="Rep" class="btn btn-dark">Lift</button>

<p>@Player.Name</p>
<p>@Player.Experience</p>
<p>@Player.Money</p>
<p>@Player.GetExperienceForNextLevel()</p>
<p>@Player.GetLevel()</p>
<p>@Player.GetRemainingExperienceUntilNextLevel()</p>


@code {
    [Parameter]
    public int? Id { get; set; }
    private PlayerResult Player = new PlayerResult();
    private PositiveGameEventResult? positiveGameEvent;
    private NegativeGameEventResult? _negativeGameEventResult;

    protected override async Task OnInitializedAsync()
    {
        var result = await _playerApi.GetAsync(Id.Value);
        Player = result.Data;
    }

    private async Task Rep()
    {
        var result = await _gameApi.PerformActionAsync(Id.Value);

        Player = result.Data.Player;
        positiveGameEvent = result.Data.PositiveGameEvent;
        _negativeGameEventResult = result.Data.NegativeGameEvent;

        StateHasChanged();
    }
}
