@page "/game/{Id:int}"
@inject IJSRuntime _jsRuntime
@inject IGameApi _gameApi
@inject IPlayerApi _playerApi
@inject IItemApi _itemApi
@inject IPlayerItemApi _playerItemApi;
@inject Blazored.LocalStorage.ILocalStorageService _storageService

<div class="vh-100 game-background">
    <div class="container">
        <div style="height: 60vh" class="row">
            <div class="col-5 mt-5 text-center lift-section">
                <div class="d-flex flex-row justify-content-center mb-3">
                    <button @onclick="Lift" class="btn rounded-circle p-4 lift-button btn-dark"><i class="fas fa-dumbbell fa-fw fa-5x primary-color"></i></button>
                </div>
                <div class="primary-color h6 lift-section mb-3">
                    @if (_positiveGameEvent != null)
                    {
                        <p>@Player.Name, You lift and...</p>
                        <p>@_positiveGameEvent.Name</p>
                        @if (!string.IsNullOrWhiteSpace(_positiveGameEvent.Description))
                        {
                            <p>@_positiveGameEvent.Description</p>
                        }
                        @if (_positiveGameEvent.Money > 0)
                        {
                            <p>@($"{_positiveGameEvent.Money}€ has been added to your account.")</p>
                        }
                    }
                    @if (_negativeGameEvent != null)
                    {
                        <p>@_negativeGameEvent.Name</p>
                        @if (!string.IsNullOrWhiteSpace(_negativeGameEvent.Description))
                        {
                            <p>@_negativeGameEvent.Description</p>

                            @foreach (var message in _negativeGameEventMessage)
                            {
                                <p>@message.Message</p>
                            }
                        }
                    }
                </div>
                <div class="d-flex justify-content-center">
                    <img class="rounded-3 mt-2" src="@imageUrl" style="height: 250px; width: 400px"/>
                </div>
            </div>
            <div class="col-3 mt-5 me-3">
                <StatsComponent Player="Player" />
            </div>
            <div class="col-3 mt-5">
                <div class="mb-3">
                    <LeaderboardComponent OrderedPlayers="_orderedPlayers" />
                </div>
                <div>
                    <div class="card text-center shadow">
                        <div @onclick="OpenModal" class="card-header h2 bg-dark text-white">
                            <a class="fas fa-cart-arrow-down icon-background shop-icon"></a>
                            PlayerItems
                        </div>
                        @if (!PlayerItems.Any())
                        {
                            <div class="d-flex playerItems-card align-items-center text-center">
                                <p>
                                    Click on the shopping cart to buy some cool stuff
                                </p>
                            </div>
                        }
                        else
                        {
                            <ul class="list-group list-group-flush playerItems-card ">
                                @foreach (var playerItem in PlayerItems)
                                {
                                    <PlayerItemComponent PlayerItem="playerItem"></PlayerItemComponent>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display: @ModalDisplay">
        <div class="modal-dialog" role="document" style="z-index: 1055">
            <div class="modal-content">
                <div class="modal-header text-center bg-dark text-white">
                    <h5 class="modal-title ">Shop 'till you drop</h5>
                    <button @onclick="CloseModal" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @foreach (var item in Result)
                            {
                                <div class="card align-items-center flex-column flex-lg-row p-3">
                                    <div class="card-body order-2 order-lg-1">
                                        <h5 class="mt-0 fw-bold mb-2">@item.Name</h5>
                                        <p class="fst-italic text-muted mb-0 small">@item.Description</p>
                                        <div class="d-flex flex-row">
                                            <div>
                                                <button @onclick="() => Buy(item.Id)" class="btn btn-outline-dark">BUY</button>
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="fw-bold my-2"> Price: <span class="primary-color">@item.Price</span></h6>
                                            </div>
                                        </div>
                                    </div><img src="https://media.s-bol.com/rEY3V5k3nEyp/76wRVvy/516x840.jpg" alt="Generic placeholder image" width="50" class="ms-lg-5 order-1 order-lg-2">
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        @if (ShowBackdrop)
        {
            <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="CloseModal"></div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    private string imageUrl;
    private int playerId;

    private PlayerResult Player { get; set; } = new();
    private IList<PlayerItemResult> PlayerItems { get; set; } = new List<PlayerItemResult>();

    private PositiveGameEventResult? _positiveGameEvent;
    private NegativeGameEventResult? _negativeGameEvent;
    private IList<ServiceMessage> _negativeGameEventMessage;

    private IList<PlayerResult> _orderedPlayers = new List<PlayerResult>();
    private IList<ItemResult> Result { get; set; } = new List<ItemResult>();
    private PlayerItemFilter? Filter { get; set; }

    private string ModalDisplay = "none;";
    private string ModalClass = "";
    private bool ShowBackdrop = false;

    private List<string> ArnoldImages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await _storageService.SetItemAsync("PlayerId",Id.Value);
        playerId = await _storageService.GetItemAsync<int>("PlayerId");

        var result = await _playerApi.GetAsync(playerId);
        Player = result.Data;

        var items = await _itemApi.FindAsync();
        Result = items.Data;

        await RefreshLeaderBoard();
        await RefreshPlayeritems();
        await base.OnInitializedAsync();

        ArnoldImages.Add("http://www.goalcast.com/wp-content/uploads/2017/05/Arnold-Schwarzenegger-quotes-I-learned-that-we-are-always-stronger-than-we-know.jpg");
        ArnoldImages.Add("https://wellquo.com/wp-content/uploads/2020/04/Arnold-Schwarzenegger-Quotes.jpg");
        ArnoldImages.Add("https://ae01.alicdn.com/kf/HTB1EKlKLpXXXXX.XpXXq6xXFXXX1/Motivational-inspirational-quotes-Arnold-Schwarzenegger-bodybuilding-Poster-Home-Decor-Wall-Sticker-Various-Size-Free-Shipping.jpg");
        ArnoldImages.Add("https://cdn.motivationgrid.com/wp-content/uploads/2017/11/Arnold-Schwarzenegger-quotes-770x400.jpg");
        ArnoldImages.Add("https://i0.wp.com/www.theinspiringjournal.com/wp-content/uploads/2019/10/arnold-schwarzenegger-quotes-about-life-success-gym-bodybuilding-motivation-quotes-1.jpg?resize=740%2C555&ssl=1");
        ArnoldImages.Add("https://2.bp.blogspot.com/-ONiZuanZ-6Q/VjgFf_CQy9I/AAAAAAAACdQ/IZrD_2zCrJc/s1600/%25E2%2580%259CAll%2BI%2Bwould%2Bsay%2Bis%2Bthat%2BI%2Bfind%2Bjoy%2Bin%2Bthe%2Bgym%2Bbecause%2Bevery%2Brep%2Band%2Bevery%2Bset%2Bis%2Bgetting%2Bme%2Bone%2Bstep%2Bcloser%2Bto%2Bmy%2Bgoal.%25E2%2580%259D%2B%25E2%2580%2593%2BArnold%2BSchwarzenegger.JPG");

        imageUrl = "http://www.goalcast.com/wp-content/uploads/2017/05/Arnold-Schwarzenegger-quotes-Jealousy-you-have-to-earn.jpg";
    }

    private async Task Lift()
    {
        var result = await _gameApi.PerformActionAsync(playerId);

        Player = result.Data.Player;
        _positiveGameEvent = result.Data.PositiveGameEvent;
        _negativeGameEvent = result.Data.NegativeGameEvent;
        _negativeGameEventMessage = result.Data.NegativeGameEventMessages;

        await RefreshPlayeritems();
        await RefreshLeaderBoard();
        SetImage();
        StateHasChanged();
    }

    private async Task Buy(int itemId)
    {

        var result = await _gameApi.BuyAsync(playerId, itemId);

        if (result.IsSuccess)
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "success",
                $"You bought {result.Data.Item.Name} for €{result.Data.Item.Price}, " +
                $" You have {result.Data.Player.Money} € left");

            Player = result.Data.Player;
        }
        else
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "error",
                "Blood, sweat, and tears are required to pay for this... GO LIFT!!");
        }

        await RefreshPlayeritems();
        StateHasChanged();
    }

    private async Task RefreshPlayeritems()
    {
        Filter = new PlayerItemFilter()
            {
                PlayerId = playerId
            };

        var playerItemResult = await _playerItemApi.FindAsync(Filter);

        PlayerItems = playerItemResult.Data;
    }

    private async Task RefreshLeaderBoard()
    {
        var playersResult = await _playerApi.Find(new PlayerFilter());
        _orderedPlayers = playersResult.Data.OrderByDescending(p => p.Experience).ToList();
    }

    public void OpenModal()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void CloseModal()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

    private void SetImage()
    {
        var random = new Random();
        int index = random.Next(ArnoldImages.Count);
        imageUrl = ArnoldImages[index];
    }
}
