<li class="list-group-item">
    <p class="primary-color fw-bold h5"> @PlayerItem.Name </p>
    @if (!string.IsNullOrWhiteSpace(@PlayerItem.Description))
    {
        <span>  @PlayerItem.Description</span>
    }
    @if (@PlayerItem.Fuel > 0)
    {
        <p> Fuel: @PlayerItem.RemainingFuel/@PlayerItem.Fuel</p>
    }
    @if (@PlayerItem.Attack > 0)
    {
        <p> Attack: @PlayerItem.RemainingAttack/@PlayerItem.Attack</p>
    }
    @if (@PlayerItem.Defense > 0)
    {
        <p> Defence: @PlayerItem.RemainingDefense/@PlayerItem.Defense</p>
    }
    @if (@PlayerItem.ActionCooldownSeconds > 0)
    {
        <p> Cooldown seconds: @PlayerItem.ActionCooldownSeconds</p>
    }
</li>

@code {
    [Parameter]
    public PlayerItemResult PlayerItem { get; set; }
}
